body * {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-left: 35px;
    text-align: left;
}

p {
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 35px;
    line-height: 1.5;
    color: #333;
    max-width: 800px;
}

.vis-container{
    margin-left: 12px;
}

.section {
    margin-bottom: 60px;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

p {
    max-width: 800px;
    font-size: 14px;
    line-height: 1.6;
}


.copyright-section {
    text-align: center; /* Ensure text is centered */
    padding-top: 20px;
	padding-left: 90px;
    padding-bottom: 10px;
    background-color: #f9f9f9; /* Optional for better visibility */
    border-radius: 10px;
}
