body *{
	font-family: 'Open Sans', sans-serif;
	font-size: 12;
}

  
.page {
	width: 850px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
  }
  
h1 {
	font-weight: 900;
	font-size: 50;
	font-family: 'Times New Roman', Times, serif;
}

h2 {
	font-weight: 700;
	font-size: 30;
	font-family: 'Times New Roman', Times, serif;
}

.vis-container {
	width: 100%;
}

.description-left {
	padding-right: 20px;
}

.pure-g {
	margin-bottom: 60px;
}
